html, body {
  height: 100%;
  margin: 0;
}

#app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% of the viewport height */
}

main {
  flex-grow: 1; /* Makes the main content area grow and take the available space */
  background-image: url('/public/images/image.png'); /* Adjust the path to your image */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  position: relative; /* Make the container relative for the overlay */
}
main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gainsboro; /* 50% transparency with a black overlay */
  z-index: 1;
}
main .content{
  position: relative;
  z-index: 2; /* Ensures that the main content is above the background */
  padding: 20px; /* Add some padding for content inside the main area */
  color: white; /* Make the text color white for contrast */
}
app-footer {
  background-color: #2b2b2b; /* Customize your footer background color */
  color: white; /* Footer text color */
  text-align: center;
  padding: 1rem;
  width: 100%;
}
