
<div class="hero-section">
  <div class="slideshow">
    <div *ngFor="let image of heroImages; let i = index" 
         [ngClass]="{'active-slide': currentSlideIndex === i}" 
         class="slide" 
         [ngStyle]="{'background-image': 'url(' + image.url + ')'}">
    </div>
  </div>
  <div class="hero-content text-center">
    <h1 class="hero-title">Bring Your Brand to Life!!</h1>
    <p class="hero-subtitle">Professional Designing, Printing, and Branding Services</p>
    <button class="btn btn-primary bottom-button" (click)="navigateToServices()">Explore Our Services</button>
  </div>
</div>

<div>
  <h1 class="services-available">Unleashing Creativity: Bold Branding & Innovative Designs to Elevate Your Business</h1>
</div>

<div class="container-fluid1">
    <div class="row">
      <div class="col-md-3" *ngFor="let card of cards">
        <div class="card text-white custom-card" [ngStyle]="{'background-image': 'url(' + card.image + ')'}">          <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <div class="text-center">
              <h2 class="card-title1 mb-0">{{card.title}}</h2>
              <p class="card-description">{{card.description}}</p>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <img>

    <!--Testimonials-->
  <div class="container-fluid">
    <div *ngFor="let product of products; let i = index" class="row no-gutters">
          <!-- Product Card -->
      <div [ngClass]="{'col-md-6': true, 'order-md-2': i % 2 !== 0}">
        <div class="card product-card">
          <img [src]="hoveredIndex === i ? product.hoverImage : product.image" 
           (mouseenter)="hoveredIndex = i"
           (mouseleave)="hoveredIndex = -1"
           class="card-img-top"
           alt="{{product.title}}">
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
          </div>
        </div>
      </div>

          <!-- Description Card -->
      <div [ngClass]="{'col-md-6': true, 'order-md-1': i % 2 !== 0}">
        <div class="">
          <div class="card-body">
            <h5 class="card-title">Summary</h5>
            <p class="card-text">{{ product.description }}</p>
            <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>