<div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card text-white custom-card" style="background-image: url('/assets/printing.jpg');">
          <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <div class="text-center">
              <h2 class="card-title1 mb-0">Printing</h2>
              <p class="card-description">High-quality printing services to meet all your needs.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-white custom-card" style="background-image: url('/assets/designing.jpg');">
          <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <div class="text-center">
              <h2 class="card-title1 mb-0">Designing</h2>
              <p class="card-description">Creative and professional design solutions for your brand.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-white custom-card" style="background-image: url('/assets/branding.jpg');">
          <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <div class="text-center">
              <h2 class="card-title1 mb-0">Branding</h2>
              <p class="card-description">Effective branding strategies to enhance your business presence.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-white custom-card" style="background-image: url('/assets/marketing.jpg');">
          <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <div class="text-center">
              <h2 class="card-title1 mb-0">Market With Us</h2>
              <p class="card-description">Innovative marketing solutions to grow your audience.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3" *ngFor="let card of cards">
            <div class="card text-white custom-card" [ngStyle]="{'background-image': 'url(' + card.image + ')'}">
              <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <div class="text-center">
                  <h2 class="card-title1 mb-0">{{ card.title }}</h2>
                  <p class="card-description">{{ card.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      
    </div>
  </div>
  