.widgets-row {
    margin-top: 20px;
  }
  
  .widget {
    background-color: rgb(27, 2, 116);
    border-radius: 10px;
    padding: 20px;
  }
  .custom-card {
    background-color: skyblue;
    color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-title1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .custom-card {
    background-size: cover;
    background-position: center;
    height: 300px; /* Adjust the height as needed */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-overlay {
    background: rgba(0, 0, 0, 0.5); /* Optional: dark overlay for better text visibility */
    color: white;
  }
  
  .card-title1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card-description {
    font-size: 1rem;
    margin-top: 10px;
  }
  