<div class="center-container">
  <div class="card">
    <h1>ErCreations </h1>
    <div class="cont">
      <div class="form sign-in">
        <h2>Welcome To ErCreatins</h2>
        <h1>Please enter your Email Address Below to Sign Up</h1>
        <label>
          <span>Email Address</span>
          <input type="email" />
        </label>
        <label>
          <span>Create Your Password</span>
          <input type="password" />
        </label>
        <label>
        <span>Confirm Your Password</span>
        <input type="password" />
        </label>
        <button type="button" class="signup">Sign up</button>
      </div>
    </div>
  </div>
</div>
