<h1 class="reset-password">
    Reset password!
</h1>
<div class="center-container">
    <div class="card">
      <h1>ErCreations </h1>
      <div class="cont">
        <form [formGroup]="resetform" class="form sign-in" (ngSubmit)="onSubmit()">
          <h1 class="confirm-reset">
            Please enter your Email Address Below to reset-password</h1>
          <label class="Address">
            <span>
                Email Address</span>
            <input type="email" formControlName="email" />
          </label>
          <button type="submit" class="signup">Reset</button>
        </form>
      </div>
    </div>
  </div>
