.reset-password{
    text-align: center;
    color: black;
    font-size: larger;
    font-weight: bolder;
    padding-top: 20px;
}
/* Basic styling to remove margins and ensure full viewport height */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  
  
  }
  
  /* Centering the container */
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('/images/image.png');
    background-size: contain; /* Ensures the image covers the entire screen */
    background-position: top left;
    background-repeat: repeat; /* Ensures the image doesn't repeat */
    background-attachment: fixed; /* Keeps the background fixed when scrolling */
  }
  
  /* Styling the card */
  .card {
    background-color: rgba(255, 255, 255, 0.8); /* White background with transparency */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px; /* Adjust the width as needed */
    text-align: center;
  }
  
  .cont {
    margin: 0 auto;
  }
  
  .form {
    text-align: center;
  }
  
  label {
    display: block;
    margin: 15px 0;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .signup{
    background-color: #560dcc;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    }
  
  .submit:hover {
    background-color: #ff6f00; /* Concentrated orange color on hover */
  }
  
  .forgot-pass {
    color: #999;
    font-size: 14px;
    margin-top: 10px;
    transition: color 0.3s ease;
  }
  
  .forgot-pass:hover {
    color: green; /* Color on hover */
  }

  .address{
    text-align: center;
    color: black;
  }

  .confirm-reset{
    text-align: center;
    color: black;
    font-size: larger;
    font-weight: bolder;
    padding-top: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  h1{
    font-size: 24px;
    margin-bottom: 20px;
    flood-opacity: unset;
    font-weight: 900;
  }